// colors
$primary-color: #2a2a2a;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: #fff;
$link-color: color($primary-color, "darken-1") !default;
